<!-- Requer PHP Unit 7.5+ -->
<phpunit bootstrap="./bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" beStrictAboutTestsThatDoNotTestAnything="false">

	<filter>
		<whitelist>
			<directory suffix='.php'>../../www/vendor/Win</directory>
		</whitelist>
	</filter>

	<logging>
		<!-- <log type="coverage-clover" target="logs/clover.xml"/> -->
		<!-- Lembre-se de ativar o xDEBUG -->
		<log type="coverage-html" target="coverage" lowUpperBound="35" highLowerBound="70" />
		<!-- <log type="testdox-text" target="testdox/executed.txt"/> -->
	</logging>

	<testsuites>
		<testsuite name="integration">
			<directory>integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
